.App {
  text-align: center;
}

.products {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  border: 1px solid black;
  padding: 1rem;
  width: 200px;
  border-radius: 8px;
}
